    /* start banner */
    
    * {
        font-family: 'Dancing Script', cursive;
    }
    
    #header {
        position: relative;
    }
    
    #header img {
        width: 100%;
        height: 100%;
    }
    
    #header p {
        position: absolute;
        font-size: 70px;
        z-index: 1;
        top: 30%;
        left: 30%;
        color: chartreuse;
        font-style: oblique;
    }
    /* end banner */
    /* start main*/
    
    main {
        display: flex;
    }
    
    #main_left {
        width: 30%;
        background-color: rgb(221, 161, 141);
    }
    
    #main_left ul li {
        list-style: none;
        font-size: 4rem;
        padding-top: 10%;
    }
    
    #main_left ul a {
        text-decoration: unset;
    }
    
    #main_right {
        width: 70%;
        position: relative;
    }
    
    #main_right img {
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }
    
    .main_text {
        position: absolute;
        z-index: 1;
        color: rgb(12, 1, 1);
    }
    
    .main_text h1 {
        font-size: 50px;
        padding: 20px 50px;
        margin: 0;
    }
    
    .main_text p {
        font-size: 30px;
        padding: 0 50px;
        margin: 0;
    }
    /* end main*/
    /*start footer*/
    
    footer {
        background-color: rgb(27, 200, 206);
    }
    
    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: 0;
    }
    /*end footer*/