    body {
        width: 100%
    }
    
    h1,
    h3 {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 50px 0;
        background-color: antiquewhite;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    #left {
        width: 30%;
        background-color: rgb(181, 201, 194);
        padding-right: 10%;
    }
    
    #right {
        width: 60%;
        background-color: rgb(228, 152, 37);
    }
    
    main {
        display: flex;
    }
    
    #right>p,
    h2 {
        padding: 10px;
    }